
.nav {
  background-color: #000000;
}
#topbar div {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#topbar p {
  padding: 0px 10px;
}

#topbar a i {
  padding: 0px 5px 0px 12px;
  color: rgb(187, 161, 43);
}
#navbar div {
  height: 95px;
}
#hero {
  height: 278px;
}
#services {
  height: 135px;
}
#info {
  height: 150px;
}
#footer {
  height: 100px;
}
#a{
    background-image: url(100_doga-23-p-6911_1.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
